<div class="footer">
    <h5 style="align-items: center ;"> About Us</h5>
    <p style="align-items: center ;"> Quality Sports Equipments at your doorsteps. </p>
    <ul class="footer-links">
      <li><a href="#"> Address: 08 Alandi</a></li>
      <li><a href="#"> Phone: +91 77727877787</a></li>
      <li><a href="#"> Email:info@SportsBuddy.com</a></li>
      <li><a href="http://127.0.0.1:5500/src/app/faqs/faqs.component.html"> FAQs </a></li>
    </ul>
    <p class="copyright">© 2022 Sports Buddy Project</p>   
</div>