<div class="border border-dark my-rounded-corner my-container mx-auto px-4 align-items-center"> 
    <br>
    <h1>Frequently Asked Question</h1><br>
    <h4>I) PLACING ORDERS</h4>
    <strong>1] Is it necessary to make My Account to order a product?</strong>
    <p>--> My Account allows you to edit your personal information like name, address, phone number, email preferences and password. We recommend you to create an account as it also helps you track the status of your orders and view your order history. However, you may place an order without making your account and only by providing your email address.
    </p>
    <strong>2] How do I place an order on SportBuddy.in ?</strong>
    <p>--> Please add your favourite product to your shopping cart and review size, quantity, colour, delivery date, and go through our terms and conditions and other policies. Once assured, click on "Proceed to Checkout" which will take you to a secure area where your personal information will be encrypted (please refer to our Privacy And Security Policy for more details).If you are a new Customer , you will need to enter your delivery address, name and payment details. If you are an existing Customer, you will be asked to log in and enter your credit card details. Once the transaction is completed, you will be shown an order confirmation page, a copy of which shall also be sent to your email address. Sit back , relax and wait for your favourite sportsgear to be delivered to you!
    </p>
    <strong>3] How can I check the delivery status of my order?</strong>
    <p>Go to My Account > My Orders to view the status of all your orders, whether payment / shipping have been completed or pending. You shall also receive confirmation mails in your email and SMS once you place the order with the order details and also once we despatch the order with the courier details. You may go to the links provided in the emails to track the courier status by entering your courier AWB nos. Or, you may use the following links to track your shipment: Click for online tracking of Fedex or call at 1800-419-4343 ; or Click for online tracking of Blue Dart or call at 1860-233-1234 or their Regional Office ; or Click for online tracking of DTDC or call at 011-33004444 or their Regional Office no.</p>
    <strong>4] Can I cancel or change my order?</strong>
    <p>Go to My Account > My Orders to view the status of the order, which you want to cancel. If the order has not yet been shipped, you can cancel or change the order by calling us (details in Contact Us page) with the full order details. Please refer to our Cancellations And Returns Policy for futher information.
    Please call us as early as possible after receiving the order confirmation email, as the order processing starts immediately after the email is sent to you.</p>
    <strong>5] I want a product which is "Out of Stock", what should I do?</strong>
    <p>For products which are out of stock with us, please click on "Notify Me" link on the Product page and enter your email address. We will inform you once the product is "In stock" again.</p>
    <strong>Can I remove items from my shopping cart?</strong>
    <p>Yes, placing items in your shopping cart does not obligate you to buy the items. You can keep the items for evaluation at a later time to buy and can modify the cart contents at any time before proceeding to checkout.</p>
    <strong>6] Are the products new , genuine good quality products?</strong>
    <p>We only sell NEW, GENUINE products from good quality manufacturers from India and abroad. The products are sourced directly from the manufacturers warehouse or their authorised distributors and representatives. Note the genuine product mark on the product page as a mark of quality of SportBuddy.in</p><br><hr><br>
    <h4>II) PAYMENTS</h4>
    <strong>1] What are the different payment options available in SportBuddy.in?</strong>
    <p>We accept the following payment options (with billing in INR and India issued cards only):<br>
        - Visa and MasterCard credit cards<br>
        - Debit Cards<br>
        - American Express credit cards (choose CCAvenue)<br>
        - Net Banking (choose CCAvenue)<br>
        - Credit Card EMI (choose CCAvenue)<br>
        - Cash on Delivery (Min.INR.1000, Max INR 20,000)<br>
        - Bank Transfer from your bank a/c - by Netbanking or in local bank branch<br>
        - Demand Draft /Cheque</p>
    <strong>2] Is credit card payment safe?</strong>
    <p>We use trusted ICICI and CCAvenue payment gateways using SSL technology to encrypt your personal information. Please refer to our Privacy and Security Policy for more details.</p>
    <strong>3] Is there any charge for orders with Cash-on-Delivery (COD) option ?</strong>
    <p>We do not charge any COD fees for an order value of INR 3000 and above. For order value of less than 3000, we charge a nominal COD fee of INR 100.</p>
    <strong>4] Is there any limit for Cash-on-Delivery (COD) orders ?</strong>
    <p>Yes, you may place an order on COD basis for minimum order value INR 1000 and maximum INR 20,000 only. If you want to place an order beyond the value, kindly make an online payment or choose to deposit cash in our bank account by creating an order under Bank / Cash Deposit.</p>
    <strong>5] Are there any charges like Octroi, Sales Tax etc?</strong>
    <p>If your location does NOT have Octroi / local duty / entry tax, there are no charges for tax when you purchase a product on SportBuddy.in. What you pay is what you see on our products page. However, if your location HAS Octroi / local duty / entry tax, you will have to bear the duty / tax.
    </p>
    <strong>6] Where can I find my credit/debit card security number?</strong>
    <p>Your credit/debit card security number is a 3 digit number on the far right side of the signature strip on the back of your card. In American Express cards, it is 4 digits long and printed on the front of the card.</p>
</div>
