.sign-up, .login{
    text-align: center;
}
.sign-up h1, .login h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: rgb(0, 0, 0);  
    border-left: 3px solid darkgrey; 
    border-right: 3px solid darkgrey; 
}
.auth-toggle-link{
    color: darkgrey;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}
.sign-up{
    margin-bottom: 10%;
}